.blackheading {
  color: #000000;
  font-family: Poppins;
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}

.names {
  font-size: 1.5rem;
  color: #1c1c1c;
  font-weight: 600;
  margin-top: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
}
.greenteam {
  color: #49785e;
  font-size: 55px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 55px;
}
#founding {
  margin-top: 27px;
  margin-bottom: -25px;
}
#founding h2 {
  font-family: "Poppins";
  color: #000000;
  letter-spacing: -0.03em !important;
  text-align: left;
  max-width: 100%;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
}
#team {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal-content {
  width: 661px;
  min-height: 670px;
  border-radius: 20px;
}
.button {
  margin-right: 1rem;
}
.close {
  color: #000;
  text-align: right;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  margin-left: 24rem;
}
.modal-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linkedin-logo {
  margin-top: -52px;
}

.img a {
  margin-bottom: 45px;
}
.plus-icon {
  position: absolute;
  /* top: 0%; */
  left: 37%;
  transform: translateY(-170%);
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #4b7b60;
  color: #fff;
  border-radius: 50%; /* Make the circle shape */
  font-size: 16px; /* Adjust the size of the "+" icon */
}
.modal-img img {
  width: 186px;
  height: 186px;
}
.designation {
  color: #49785e;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 2560px) {
  .plus-icon {
    left: 42%;
  }
}
@media (max-width: 900px) {
  .plus-icon {
    left: 23%;
  }
}
@media (min-width: 370px) and (max-width: 500px) {
  .plus-icon {
    left: 37%;
    transform: translateY(-122%);
  }
}
@media only screen and (max-width: 400px) {
  .plus-icon {
    left: 30%;
    transform: translateY(-164%);
  }
}
@media (max-width: 1286px) {
  .profileItem p.name {
    font-size: 1.3rem;
  }
  .profileItem p.designation {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  .profileItem p.name {
    font-size: 1rem;
  }
  .profileItem p.designation {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .profileItem p.name {
    font-size: 14px;
  }
  .profileItem p.designation {
    font-size: 11px;
  }

  .img a {
    display: flex;
    justify-content: center;
    margin-top: 41px;
  }
}
@media (min-width: 768px) {
  .apurva-library-title {
    font-size: 47px;
    /* text-align: center; */
  }
  .blackheading {
    font-size: 47px;
  }
  .greenteam {
    font-size: 47px;
  }

  #founding h2 {
    font-size: 47px;
  }
}
@media (min-width: 370px) and (max-width: 500px) {
  .img a {
    margin-top: 31px;
    margin-bottom: 0px;
  }

  .apurva-library-title,
  .blackheading,
  .greenteam,
  #founding h2,
  .greenteam {
    font-size: 35px;
    text-align: left;
  }
}
.library-content p {
  font-size: 18px;
  line-height: 35px;
  /* margin-top: 30px; */
  text-align: left;
  /* word-break: break-all; */
}

@media (max-width: 467px) {
  .profileItem p.designation {
    color: #49785e;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .modal-body {
    text-align: start;
  }
  .img p {
    width: 206px;
  }
  .profileItem p.name {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 600;
    margin-top: 1.5rem;
    text-align: center;
  }

  .close {
    color: #000;
    text-align: right;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    margin-left: 19rem;
  }
}
@media (max-width: 430px) {
  .profileItem p.name {
    font-size: 14px;
  }
  .profileItem p.designation {
    font-size: 11px;
  }
  .img a {
    margin-top: 31px;
    margin-bottom: 33px;
  }
}
@media (max-width: 425px) {
  .profileItem p.designation {
    color: #49785e;
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .modal-body {
    text-align: start;
  }
  .img p {
    width: 200px;
  }
  .profileItem p.name {
    font-size: 14px;
    color: #1c1c1c;
    font-weight: 600;
    margin-top: 1.5rem;
    text-align: center;
  }

  .close {
    color: #000;
    text-align: right;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    margin-left: 19rem;
  }
}

@media (max-width: 360px) {
  .img a {
    margin-top: 30px;
    margin-bottom: 45px;
  }

  .blackheading,
  .greenteam,
  #founding h2,
  .greenteam {
    font-size: 35px;
    text-align: left;
  }
}

@media (max-width: 463px) {
  #team {
    margin-bottom: 18px;
  }
  .profileItem p.designation {
    font-size: 11.7px;
  }
  .profileItem p.name {
    font-size: 14px;
  }
}
