.blackheading {
  color: #000000;
  font-family: Poppins;
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}

.names {
  font-size: 1.5rem;
  color: #1c1c1c;
  font-weight: 600;
  margin-top: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
}
.greenteam {
  color: #49785e;
  font-size: 55px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 55px;
}
#founding h2 {
  font-family: "Poppins";
  color: #000000;
  letter-spacing: -0.03em !important;
  text-align: left;
  max-width: 100%;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
}
#team {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal-content {
  width: 661px;
  min-height: 670px;
  border-radius: 20px;
}
.button {
  margin-right: 1rem;
}
.close {
  color: #000;
  text-align: right;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  margin-left: 24rem;
}
.modal-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-img img {
  width: 186px;
  height: 186px;
}
.designation {
  color: #49785e;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .apurva-library-title {
    font-size: 47px;
    /* text-align: center; */
  }
  .blackheading {
    font-size: 47px;
  }
  .greenteam {
    font-size: 47px;
  }
  #founding h2 {
    font-size: 47px;
  }
}
@media (min-width: 370px) and (max-width: 500px) {
  .apurva-library-title,
  .blackheading,
  .greenteam,
  #founding h2,
  .greenteam {
    font-size: 35px;
  }
}
@media (max-width: 425px) {
  .profileItem p.designation {
    color: #49785e;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .modal-body {
    text-align: start;
  }
  .img p{
    width: 200px;
  }
  .profileItem p.name {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 600;
    margin-top: 1.5rem;
    text-align: center;
  }

  .close {
    color: #000;
    text-align: right;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    margin-left: 19rem;
  }
}
