body {
  margin: 0;
  padding: 0;
}

.blogContainer-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
}

p.build {
  text-align: center;
  font-style: italic;
}

.blogs-content {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

section#blog {
  background-image: url(../img/Apurva-Websit-Design.png);
  height: 35rem;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.seat {
  margin-top: 3rem;
}

.share {
  font-size: 19px;
}

.footer-icon .twitter-icon {
  color: #fff;
  font-size: 20px;
  background-color: #1da1f2;
}


.footer-icon.linkedin-icon,
.footer-icon .twitter-icon {
  width: 55px;
  height: 55px;
  top: 2170px;
  /* Adjust the top position as needed */
  left: 663px;
  /* Adjust the left position as needed */
  font-size: 32px;
  /* Increase the font size as needed */
}

.row {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.footer-icon .twitter-container,
.footer-icon .social-icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer-icon .linkedin-icon {
  color: #fff;
  font-size: 20px;
  background-color: #0077b5;
}

.footer-icon .linkedin-icon,
.footer-icon .twitter-icon {
  width: 40px;
  height: 40px;
  top: 2170px;
  left: 663px;
  font-size: 25px;
}

.footer-icon strong {

  /* Increase the font size of "Share on" */
  margin-right: 10px;
  /* Add space between "Share on" and icons */
}

.social-icon-container {
  margin: 0 10px;
  /* Add space between the icons */
}

.image_1 {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;

}

.text-overlay {
  position: relative;
  margin-top: -35rem;

}

.text-overlay p {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: 0em;
}

.blog-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px;
  margin-top: 800px;
  color: #000000;

}

.bl {
  color: white;
}

.bl:hover {
  color: #9fffac;
}

.blog-content p {
  margin-bottom: 20px;
  color: #000000;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem !important;
  letter-spacing: 0em;

}
.row-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  padding: 10px;
  /* margin-right: 3rem;
  margin-left: -1rem; */
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.rowimg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
  margin-right: 3rem;
  margin-left: -1rem;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.rowimgs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: -1rem;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.darkgreen {
  color: #49785E;
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}

.famimgs {
  margin-top: 35px;
}

.points {
  margin-top: -5px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem !important;
  letter-spacing: 0em;
  margin-bottom: 20px;
}

.networkcard {
  border-radius: 40px;
  background: #9FFFAC40;
  padding: 2rem 7%;
  text-align: center;
}
.gif {
  border-radius: 40px;
  background: #9FFFAC40;
  padding: 2rem 9%;
  text-align: left;
}
.gif ul {
  list-style-type: disc;
}
.gif li {
  margin-bottom: 20px;
  color: #000000;
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem !important;
  letter-spacing: 0em;

}
.gifimage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the container takes up the full height */
}

.gifimage img {
  max-width: 22rem; 
  max-height: 17rem; 
}

p.Center {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
}

p.Centered {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;

}

.image_rectangle {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.underline {
  text-decoration: underline;
}

a.underline.blue {
  color: #0E76A8;
}

.hilights {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

ol.c {
  list-style-type: decimal;
  line-height: 2rem !important;
}
.References {
  font-style: italic;
  font-size: 19px;
}
.References li{
margin-left: 12px;
}
.References a {
  text-decoration: underline;
  color:black; 
}




@media screen and (min-width: 1024px) {
  #blog.section {
    padding: 6rem 8%;
    margin-top: 7rem;
  }
}

@media (max-width: 1555px) {
  .text-overlay p {
    font-size: 21px;
  }

}

@media (max-width: 1339px) {
  .text-overlay p {
    font-size: 20px;
  }
}

@media (max-width: 1070px) {
  .text-overlay p {
    font-size: 15px;
  }

  .blog-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 728px;
    color: #000000;
  }
}

@media screen and (max-width: 844px) {
  .footer-icon {
    margin-bottom: 0 !important;
    text-align: left;
  }

  .footer-icon .linkedin-icon,
  .footer-icon .twitter-icon {
    width: 29px;
    height: 28px;
    top: 2885px;
    left: 187px;
    font-size: 16px;
  }

  .hilights {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p.build {
    text-align: center;
    font-style: italic;
  }
}

@media (max-width: 768px) {
  #blog.section {
    padding: 6rem 8%;
    margin-top: 4rem;
  }

  section#blog {
    height: 20rem;
  }

  .text-overlay {
    position: relative;
    margin-top: -23rem;
  }

  .blog-content p {
    margin-bottom: 10px;
    text-align: left;
  }

  .blog-content {
    max-width: 708px;
    margin-top: 535px;
  }

  .image_rectangle {
    width: 50%;
    margin: auto;

  }

  .text-overlay p {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
  }


  p.Centered {
    font-size: 18px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;

  }

  .seat {
    margin-top: 1rem;
  }
}

@media(max-width: 425px) {
  .blogs-content {
    margin-top: 0rem;
  }

  section#blog {
    height: 25vh;
  }

  .text-overlay {
    margin-top: -16rem;
  }

  p.build {

    text-align: center;
    font-style: italic;
  }

  .blog-content {
    margin-top: 305px;
    padding: 14px;
  }

  .points li {
    text-align: left;
  }

  .blog-content p {
    font-family: "Poppins";
    font-weight: 300;

    font-size: 1rem;
    line-height: 2rem !important;
    margin-top: 1rem;

  }
  .gif li {
    margin-bottom: 20px;
    color: #000000;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem !important;
    letter-spacing: 0em;
}
  .points {
    font-size: 1rem;
  }

  .darkgreen {
    color: #49785E;
    font-style: italic;
    font-weight: 600;
    font-size: 19px;
    line-height: 30px;
  }

  .rowimg {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px;
    margin-right: 0rem;
    margin-left: 0rem;
    justify-content: space-evenly;
    margin-bottom: -20px;
  }

  .rowimgs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 0rem;
    justify-content: space-evenly;
    margin-bottom: -20px;
  }

  .center {
    text-align: center;
    margin-bottom: -20px;
  }

  .famimg {
    width: 22rem;
    height: 17rem;
  }

  .famimgs {
    width: 22rem;
    height: 17rem;
    margin-top: -5px;
    margin-bottom: -3rem;
  }

  p.Center {

    font-size: 15px;
    font-weight: 700;
    line-height: 10px;
    text-align: center;
  }

  p.Centered {

    font-size: 9px !important;
    font-weight: 700;
    line-height: 10px;
  }

  .text-overlay p {
    font-family: Poppins;
    font-size: 7px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
  }

  .image_1 {

    margin-top: -3rem;
  }

  .share {
    font-size: 16px;
  }

  .footer-icon strong {

    margin-right: 5px;
    /* Add space between "Share on" and icons */
  }

  .social-icon-container {
    margin: 0 5px;
    /* Add space between the icons */
  }
}

@media(max-width: 375px) {
  .blog-content {
    margin-top: 250px;
    padding: 14px;
  }


}

@media (max-width: 375px) {
  .blog-content {
    margin-top: 290px;
    padding: 14px;
  }
  ol.c {
    font-size: 15px;
    line-height: 1.5rem !important;
  }
}