section#experience,
section#experiencepages {
  position: relative;
  background-image: url(../img/Frame.png);
  background-size: cover; /* Adjust background image size */
  background-position: center; /* Center the background image */
  padding: 0px 5%;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: pre-line;
  margin: 0 auto;
  animation: blink-caret 0.75s step-end infinite;
}

.typewriter::after {
  content: "|";
  display: inline-block;
  color: rgb(250, 248, 248);
  margin-left: 3px;
}

#myCarousel {
  height: 186px;
}
#experience.section,
#experiencepages.section {
  padding: 6rem 8%;
  margin-top: 7rem;
}
.greenquery {
  color: #9fffac;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}
/* .subscribe-button-texthome {
  font-size: 20px;
  font-weight: 500;
} */
.subscribe-button-text {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
#Apurvaexp-tittle{
  padding: 0% 2% 0% 3%;
}
#Apurva-Experience{
  padding: 0%;
}
.reachoutbutton {
  margin-bottom: 90px;
  text-align: left;
  padding: 0%;
}
#reachout {
  position: absolute;
  /* right: 6%;
  top: -8%; */

  background: #9fffac;
  border-radius: 10px;
  border: 2px solid #9fffac;
  font-size: 1.2rem;
  padding: 0.625rem 1.5625rem;
  font-weight: 400;
  z-index: 10; /* Ensure the button appears above other elements */
}

.position-relative {
  position: relative;
}
.greenquerys {
  color: #ffffff;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
}
.querytext {
  color: #9fffac; /* Set color for "QUERYABLE WISDOM" */
  text-align: center;
  font-size: 30px;
}
.experienceimg {
  margin-top: -289px;
  text-align: center;
}
section#experience {
  height: 105rem !important;
}
section#experiencepages {
  height: 200rem !important;
}
.queryp {
  color: white; /* Set default color for remaining text */
  text-align: center;
  font-size: 30px;
  line-height: 45px;
}

.card {
  flex: 0 0 auto;
  width: 392px;
  height: 422px;
  border-radius: 1.25rem;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
}
.card-body-apu {
  height: 422px;
  background-color: #2e4c45;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.card-text {
  color: white;
  font-family: Poppins;
  font-weight: 500;
  width: 345px;
  height: 309px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 35px;
}
.card::before {
  content: attr(data-card-number);
  position: absolute;
  top: 3px;
  left: 55%;
  transform: translate(-50%, -50%);
  color: #9fffac;
  z-index: 1;
  margin-left: -0.25em;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1;
}

.card-content {
  position: relative; /* Ensure proper stacking */
  z-index: 2; /* Ensure it's above the pseudo-elements */
}
.cardquery {
  margin-left: 10px; /* Adjust the value as needed */
}
.experience p {
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  hyphens: auto;
  /* margin-left: -14px; */
  word-break: auto-phrase;
}

.img-fluid {
  max-width: 66%;
  height: auto;
}
/* .coming {
  position: absolute;
  top: 50%; 
  left: 20%; 
  transform: translateY(-50%);
}

.coming img {
  font-family: Poppins;
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0em;
  opacity: 0.2;
} */

.coming img {
  margin-top: -14rem;
  color: #fff;
  font-family: Poppins;
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: right;
  margin-left: 249px;
  opacity: 0.2;
}

.br {
  margin-top: 66px;
}

@media (max-width: 1440px) {
  section#experience {
    height: 98rem !important;
  }
  /* .coming img {
    margin-top: -12rem;
    color: #fff;
    font-family: Poppins;
    font-size: 70px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: right;
    margin-left: 172px;
  } */
  .queryp {
    line-height: 39px;
  }
}
@media screen and (max-width: 1024px) {
  .experience h2,
  .greenexp {
    font-size: 30px;
    line-height: 43px;
  }

  /* .coming img {
    margin-left: 105px;
    margin-top: -8rem;
  } */
  #experiencepages.section {
    padding: 6rem 8%;
    margin-top: 3rem;
  }
  .card {
    width: 273px;
  }
  .card-text {
    color: white;
    font-family: Poppins;
    font-weight: 500;
    width: 250px;
    height: 309px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 35px;
  }
  .greenquery {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .cardrow {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
}
  /* .coming img {
    margin-left: 177px;
    margin-top: -25rem;
    opacity: 0.2;
  } */
  #experience.section {
    padding: 6rem 8%;
    margin-top: 4rem;
  }
  img {
    max-width: 50%;
  }
  #exprow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: 160px; */
  }
  .circle_comingsoon {
    margin-top: -28rem;
    height: 350px;
    width: 350px;
    background-image: radial-gradient(#9fffac 50%, #9fffac 40%);
    filter: blur(160px);
    margin-left: 294px;
  }
  .experience h2 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -2rem;
  }
}

@media (max-width: 467px) {
  .subscribe-button-texthome {
    margin-left: 0px;
  
}
  #experi {
    padding: 0% 2% 0% 0%;
  }
  section#experience {
    height: 63rem !important;
  }
  #testimonial-carousel {
    height: 240px;
  }
  #experiencepages.section {
    padding: 6rem 2%;
    margin-top: 3rem;
  }
  section#experiencecricle {
    height: 115rem !important;
  }
  #deep {
    margin-top: 0px;
    font-size: 17px;
    line-height: 34px;
  }
  #experience.section {
    padding: 6rem 2%;
    margin-top: 4rem;
  }
  .experience p {
    text-align: start;
    font-size: 23px;
  }
  .greenquery {
    color: #9fffac;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 27px;
  }
  section#experience {
    height: 72rem !important;
  }
  .experienceimg {
    margin-top: -147px;
    text-align: center;
  }
  .queryp {
    color: white;
    text-align: center;
    font-size: 18px;
  }
  .querytext {
    color: #9fffac;
    text-align: center;
    font-size: 18px;
  }
  /* #exprow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 61px;
  } */
  /* .coming img {
    margin-left: 213px;
    margin-top: -21rem;
  } */

  /* .subscribe-button-texthome {
    font-size: 10px;
    font-weight: 400;
    margin-top: -12px;
    margin-left: -15px;
    margin-right: -15px;
  } */
  .reachoutbutton {
    margin-bottom: 137px;
    text-align: left;
  }
}
@media screen and (max-width: 425px) {
  section#experience {
    height: 63rem !important;
  }
  .experience p {
    margin-bottom: 25px;
    /* word-break: break-all; */
  }

  /* .subscribe-button-texthome {
    font-size: 10px;
    font-weight: 400;
    margin-top: -12px;
    margin-left: -15px;
    margin-right: -15px;
  } */
  /* .coming img {
    margin-left: 202px;
    margin-top: -16rem;
    opacity: 0.2;
  } */
  #experiencepages.section {
    padding: 6rem 0%;
    margin-top: 3rem;
  }
  .card {
    width: 392px;
    height: 361px;
  }
  .experience h2 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -2rem;
  }
  .experience p {
    font-size: 20px;
    text-align: start;
    /* word-break: break-all; */
    line-height: 27px;
  }
  .greenquery {
    color: #9fffac;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }
  #testimonial-carousel {
    height: 222px;
    margin-top: 56px;
  }
  .queryp {
    color: white;
    text-align: center;
    font-size: 18px;
  }
  .querytext {
    color: #9fffac;
    text-align: center;
    font-size: 18px;
  }
  .cardrow{
    display: block;
    margin-right: 0px;
    margin-left: 0px;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 10px;
  }
  /* #exprow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 46px;
  } */
  #experience.section {
    padding: 6rem 0%;
    margin-top: 4rem;
  }
  section#experience {
    height: 62rem !important;
  }
  .experienceimg {
    margin-top: -63px;
    text-align: center;
  }
}
@media screen and (max-width: 390px) {
  section#experience {
    height: 65rem !important;
  }
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .experience p {
    font-size: 20px;
    text-align: start;
    margin-bottom: 25px;
    /* word-break: break-all; */
  }
  section#experiencecricle {
    height: 146rem !important;
  }

  .experienceimg {
    margin-top: -98px;
    text-align: center;
  }
}
@media screen and (max-width: 365px) {
  /* #exprow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 35px;
  } */
}
