
.footer {
  padding: 4%;
}
.footer p {
  margin: 0;
}
.container-footer{
  max-width: 1900px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Style the address container */
/* Custom CSS to move the address content to the complete left of the footer */
.address-container {
text-align: left;
margin-left: auto;
margin-right: auto;
padding-right: 15px;
padding-left: 15px;
width: 100%;
}
.app-promotion {
  text-align: right;
  margin-right: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  }
.center {
text-align: center;
}
.adress{
  margin-block-start: auto;
}
.links{
  margin-inline: center;
}
.footer-icons {
  list-style: none;
  padding: 0;
}
.footer-icons li {
  display: inline-block;
  margin: 0 10px;
}
.footer-icons a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}
.footer-icons .twitter-container,
.footer-icons .social-icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.footer-icons .twitter-icon {
  color: #fff;
  font-size: 20px;
  background-color: #1DA1F2;
}
.footer-icons .linkedin-icon {
  color: #fff;
  font-size: 20px;
  background-color: #0077B5;
}
.app-promotion ul {
  list-style: none;
  padding: 0;
}
.app-promotion li {
  margin-bottom: 5px;
}
.app-promotion a {
  color: white;
  text-decoration: none;
}
.copyrights {
  color: #777;
  font-size: 14px;
}
.footer .footer-icons {
  text-align: center;
  margin-top: 20px;
}
.footer .app-promotion {
  text-align: center;
}.footer .app-promotion {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  margin-top: auto;
}
/* Add these styles to your existing CSS */
.with-background {
background-image: url(../img/footerBackground.png);
background-size: cover;
color: white;
width: 100%;
}
.with-background .alt-color {
color: white; /* Set text color to white */
}
.with-background .white strong {
font-weight: bold; /* Set text in <strong> tags to bold */
}
.with-background .underline {
text-decoration: underline; /* Add underline to the text */
}
.alt-back{
  color: #d4cece;
}
@media (min-width: 769px) {
  .mobile-footer {
    display: none;
  }
}

/* CSS for smaller screens (mobile) */
@media (max-width: 768px) {
  .desktop-footer {
    display: none;
  }
}