/* General styles for the mobile card */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 0px;
}
img {
  max-width: 70%;
}
.mobile-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
#mobiletext {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 0px;
}
.mobile-cardgreen {
  color: green;
  font-weight: bold;
}

.mobile-card-img {
  width: 100%;
  height: auto;
  opacity: 0.2;
}

.additional-text p {
  color: white !important;
  margin-left: 65px;
  margin-top: 20px;
}
.mobile-card-white {
  color: white;
  font-weight: bold;
}

.mobile-card-green {
  color: #9fffac;
  font-weight: bold;
}
.mobile-card-inside {
  font-size: 20px; /* Adjust as needed */
  display: inline;
}

.mobile-card-outside {
  font-size: 30px; /* Adjust as needed */
  display: inline;
}

.queryable-text {
  color: white;
  font-weight: bold;
}

.wisdom-text {
  color: #9fffac;
  font-weight: bold;
}

.mobile-section .blog {
  display: block;
  width: 100%; /* Adjust as needed */
}
.green-text {
  color: #9fffac;
}
.green-border {
  border-color: #49785e !important;
}

@media (max-width: 768px) {
  .card-title {
    font-size: 30px;
    margin-bottom: 53px;
    margin-top: 53px;
  }
  .cardtext {
    /* margin-left: 18px; */
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    hyphens: auto;
    word-break: auto-phrase;
  }
  section#experiencecriclemobile {
    height: 142rem !important;
  }
  .mobile-explore-btn {
    font-size: 21px;
    text-align: center;
    width: 57px;
    border: 1px solid #000;
    border-radius: 1rem;
    background: #9fffac;
    color: #000;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    min-width: max-content;
    margin-top: 10px;
    font-weight: 600;
  }
}
@media (max-width: 467px) {
  section#experiencecriclemobile {
    height: 84rem !important;
  }
}

@media (max-width: 467px) {
  .mobile-explore-btn {
    height: 31px;
    font-size: 9px;
    text-align: center;
    width: 57px;
    border: 1px solid #000;
    border-radius: 13px;
    background: #9fffac;
    color: #000;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    min-width: max-content;
    margin-top: 10px;
  }
  section#experiencecriclemobile {
    height: 89rem !important;
  }
  .cardtext {
    color: white;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    margin-top: 15px;
  }

  #mobiletext {
    position: relative;
    width: 100%;
    padding-right: 15px;
  }
  .card-title {
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 390px) {
  #mobiletext {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
  }
  section#experiencecriclemobile {
    height: 94rem !important;
  }
}

@media (max-width: 432px) {
  section#experiencecriclemobile {
    height: 91rem !important;
  }
}

@media (max-width: 390px) {
  section#experiencecriclemobile {
    height: 94rem !important;
  }
}
@media (max-width: 375px) {
  section#experiencecriclemobile {
    height: 96rem !important;
  }
}
@media (max-width: 320px) {
  section#experiencecriclemobile {
    height: 100rem !important;
  }
}
