/* General styles for the mobile card */
.newrxp {
  height: 37px;
  width: 112px;
  font-weight: 500;
  font-size: 13px;
  display: inline-flex; /* Use inline-flex to maintain inline behavior while enabling flex properties */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  background-color: #9fffac; /* Green background */
  color: rgb(36, 35, 35);
  text-decoration: none;
  border-radius: 7px;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 23px;
  border: none;
  cursor: pointer;
}

.newrxp:hover {
  background-color: #8ef0a1; /* Slightly darker green on hover */
  color: rgb(36, 35, 35);
  text-decoration: none;
}

img {
  max-width: 70%;
}
.mobile-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
}
#mobiletext {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 0px;
}
.mobile-cardgreen {
  color: green;
  font-weight: bold;
}

.mobile-card-img {
  width: 25%;
  /* width: 100%; */
  height: auto;
  margin-top: 24px;
  margin-bottom: 10px;
  opacity: 0.2;
}

.additional-text p {
  color: white !important;
  margin-left: 65px;
  margin-top: 20px;
}
.mobile-card-white {
  color: white;
  font-weight: bold;
}

.mobile-card-green {
  color: #9fffac;
  font-weight: bold;
}
.mobile-card-inside {
  font-size: 20px; /* Adjust as needed */
  display: inline;
}

.mobile-card-outside {
  font-size: 30px; /* Adjust as needed */
  display: inline;
}

.queryable-text {
  color: white;
  font-weight: bold;
}

.wisdom-text {
  color: #9fffac;
  font-weight: bold;
}

.mobile-section .blog {
  text-align: center;
  display: block;
  width: 100%; /* Adjust as needed */
}
.green-text {
  color: #9fffac;
}
.green-border {
  border-color: #49785e !important;
}
.cardBlockstitle {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .cardtext {
    color: white;
    /* text-align: left; */
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin-top: 55px;
  }
  /* section#experiencecriclemobile {
    height: 142rem !important;
  } */
  .mobile-explore-btn {
    font-size: 21px;
    text-align: center;
    width: 57px;
    border: 1px solid #000;
    border-radius: 1rem;
    background: #9fffac;
    color: #000;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    min-width: max-content;
    margin-top: 10px;
    font-weight: 600;
  }
}
@media (max-width: 467px) {
  /* section#experiencecriclemobile {
    height: 84rem !important;
  } */
}

@media (max-width: 467px) {
  .mobile-explore-btn {
    height: 31px;
    font-size: 9px;
    text-align: center;
    width: 57px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #9fffac;
    color: #000;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    min-width: max-content;
    margin-top: 10px;
  }
  /* section#experiencecriclemobile {
    height: 89rem !important;
  } */
  .cardtext {
    color: white;
    /* text-align: left; */
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin-top: 55px;
  }

  #mobiletext {
    position: relative;
    width: 100%;
    padding-right: 15px;
  }
}
@media (max-width: 390px) {
  #mobiletext {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
  }

}
@media (max-width: 480px) {
  
  #deep {
    margin-top: 0px;
    font-size: 25px;
    line-height: 40px;
  }

 
  .cardtext {
    color: white;
    /* text-align: left; */
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin-top: 55px;
  }
}

