section#experiencecricle {
  height: 55rem !important;
}
section#experiencecricle {
  position: relative;
  background: #01051c;
  padding: 0 5%;
}
section#queryable {
  background: #01051c;
  height: 25rem !important;
}
.half-circle.right {
  width: 64.3125rem;
  height: 32.5rem;
  border-top-left-radius: 32.5rem;
  border-top-right-radius: 32.5rem;
  border: 2px solid #9fffac;
  position: absolute;
  top: 65%; /* Adjust this value accordingly */
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-bottom: none;
  padding: 0 0.9375rem;
}

.half-circle-inner {
  width: 46.75rem;
  height: 25.375rem;
  border-top-left-radius: 25.5rem;
  border-top-right-radius: 25.5rem;
  border: 2px solid #9fffac;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.containercricle {
  padding: 38.3rem 0;
  display: flex;
  justify-content: center;
}

.cards {
  border: 2px solid #9fffac;
  /* margin-left: 2.5rem; */
  background-color: #01051c;
  width: 12.9375rem;
  height: 15.625rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  position: absolute;
  text-align: center;
  transition: transform 0.5s ease-in-out;
}

.cards.active {
  background-color: rgba(178, 242, 186, 0.2);
  transform: translateX(0);
  border-color: #9fffac;
  height: 17.875rem;
  width: 15.375rem;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 0.625rem 1.25rem;
  margin: 0 0.3125rem;
  cursor: pointer;
  border-radius: 0.3125rem;
}

.large-font {
  font-size: 1.5rem;
}

.medium-font {
  font-size: 1.125rem;
}

.card-desc {
  display: none;
  /* margin-left: -9.375rem; */
  width: 34.6875rem;
  text-align: center;
}

.desc {
  color: white;
  font-size: 1.5625rem;
  margin-bottom: 0.5625rem;
}

.headcard p {
  font-size: 1.5625rem;
  color: white;
  margin-bottom: 0.8125rem;
}

.cardcont p {
  font-size: 1.25rem;
  color: white;
}

.carddata p {
  font-size: 25px;
  color: white;
  margin-top: 50px;
  line-height: 40px;
}
.query-btn {
  text-align: center;
  width: 8.875rem;
  font-size: 0.9375rem;
  background-color: #9fffac;
  color: rgb(8, 8, 8);
  border-radius: 0.625rem;
  border: 2px solid #9fffac;
  height: auto;
  margin-top: 2.3125rem;
  position: absolute; /* position absolutely */
  bottom: 10%; /* position in the middle vertically */
  left: 50%; /* position in the middle horizontally */
  transform: translate(-50%, -50%); /* adjust to center */
}

.card-desc {
  margin-bottom: 0.5625rem;
}

.card.active + .card-desc {
  display: block;
}

.explore-btn {
  text-align: center;
  width: 8.875rem;
  font-size: 0.9375rem;
  background: transparent;
  color: white;
  border-radius: 0.625rem;
  border: 2px solid #9fffac;
  height: auto;
  margin-top: -3.6875rem;
}

.explore-btn.active {
  background-color: #9fffac;
  color: #01051c;
  margin-top: -3.6875rem;
  font-weight: 600;
}

.cards img {
  margin-top: -2.875rem;
  opacity: 0.2;
  max-width: 84%;
}

.cards p {
  margin-top: 0.5rem;
  font-size: 1.5625rem;
  color: white;
  margin-bottom: 0.625rem;
  font-weight: 600;
}

.cardgreen {
  color: #9fffac;
}
.cardquery {
  color: #9fffac;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 93px;
}

.cards.card-1 {
  margin-left: 6rem;
  top: 43.75rem;
}

.cards.card-2 {
  margin-left: 3.6125rem;
  top: -6.99rem;
}
.cards.card-4 {
  margin-left: 16.5rem;
  top: 24.4375rem;
}
.cards.card-3 {
  margin-left: -26.5rem;
  top: 12.4375rem;
}

.cards.card-5 {
  margin-left: -11.2rem;
  top: 48.8125rem;
}
#Knowledge {
  margin-top: -26px;
}
#power {
  margin-top: -30px;
}
@media (max-width: 1024px) {
  .half-circle.right {
    width: 57.3125rem;
    height: 28.5rem;
  }

  .half-circle-inner {
    width: 40.75rem;
    height: 20.375rem;
    border-top-left-radius: 25.5rem;
    border-top-right-radius: 25.5rem;
    border: 2px solid #9fffac;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .cards {
    border: 2px solid #9fffac;
    /* margin-left: 2.5rem; */
    background-color: #01051c;
    width: 10.9375rem;
    height: 13.625rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    position: absolute;
    text-align: center;
    transition: transform 0.5s ease-in-out;
  }
  .cards.active {
    margin-top: 3.7rem;
    background-color: rgba(178, 242, 186, 0.2);
    transform: translateX(0);
    border-color: #9fffac;
    height: 15.875rem;
    width: 13.375rem;
  }
  .cards.card-1 {
    margin-left: -1.5rem;
    top: 43.99rem;
  }
  .cards.card-2 {
    margin-left: 2.6125rem;
    top: -3rem;
  }
  .cards.card-4 {
    margin-left: 20.5rem;
    top: 28rem;
  }
  .cards.card-3 {
    margin-left: -18.5rem;
    top: 12.4375rem;
  }
  .cards.card-5 {
    margin-left: -3rem;
    top: 48.8125rem;
  }
  #voice {
    margin-top: -100px;
  }

  #power {
    margin-top: -89px;
  }
}
@media (max-width: 768px) {
  .experienceimg {
    margin-top: -189px;
    text-align: center;
  }
  section#experience {
    height: 87rem !important;
  }
  .img-fluid {
    max-width: 81%;
    height: auto;
  }
}
@media (max-width: 490px) {
  section#experience {
    height: 83rem !important;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .experienceimg {
    margin-top: -152px;
    text-align: center;
  }
}
