.featuredheader,
.featuretext {
    text-align: center;
    color: #000;
}
.blackheading,
.enables p,
.enablesgreen {
    font-family: Poppins;
}
.featuretext,
.readmore {
    text-decoration: underline;
}
.carousel-feat,
.featurecarousel {
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.card-head,
.featurehead {
    height: 194px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.featurebody,
.featureindicators {
    justify-content: center;
    display: flex;
}
.featurebody {
    height: 226px;
    background-color: #efefef;
    border-radius: 0 0 1rem 1rem;
    flex-direction: column;
    align-items: center;
    padding: 3rem 25px 0;
}
.featuredheader {
    margin-top: -3rem;
}
.featuretext {
    margin-top: 1rem;
}
.featuretext a {
    font-size: 17px;
    color: #000;
}
.enablesgreen {
    color: #9fffac;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;
}
#Wisdomnext,
#Wisdomprev {
    position: static;
    display: inline-block;
    width: auto;
}
.blackAi,
.blackheading {
    color: #000;
    font-size: 55px;
    text-align: left;
    letter-spacing: 0;
}
.gifimg {
    width: 45% !important;
}
.enables p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;
}
.blackAi,
.blackheading,
.connect,
.experience h2,
.greenexp,
.greenhome {
    font-weight: 700;
}
.featurecarousel {
    display: flex;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
}
.featurecards {
    background-color: #fff;
    height: 420px;
    border-radius: 1.25rem;
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
    border: 1px solid #ccc;
    margin: 10px;
}
.blackAi {
    word-wrap: break-word;
    font-family: Poppins;
    line-height: 60px;
}
.green-network-names,
.greenexp,
.greenhome {
    color: #9fffac;
    font-family: Poppins;
}
.green-network-names {
    font-size: 30px;
    line-height: 75px;
}
.readmore a,
.why p {
    font-family: Poppins;
    font-size: 25px;
}
.readmore {
    color: #000;
}
.readmore a {
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;
    color: #000;
}
.responsibleDesc p,
.why p {
    font-weight: 300;
    text-align: left;
}
.greenintro {
    color: #9fffac;
    font-size: 55px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 73.14px;
}
#hstp img,
.vector img {
    max-width: 100%;
}
.cardtitle,
.responsibleDesc p {
    line-height: 40px;
    letter-spacing: 0;
    font-family: Poppins;
}
.responsibleDesc {
    margin-bottom: 5rem;
}
.responsibleDesc p {
    font-size: 20px;
}
.greencontact,
.ourcolor h2 {
    font-weight: 700;
    font-family: Poppins;
    letter-spacing: 0;
    text-align: left;
}
.greencontact {
    color: #9fffac;
    font-size: 55px;
    line-height: 60px;
}
section#contactstest,
section#newscreen,
section#testimonialSection,
section#testimonialSectionfeature,
section#testimonialSections {
    background: 0 0 / cover no-repeat #01051c;
}
section#responsibleAI,
section#responsibleAImedium {
    background: linear-gradient(0deg, rgba(159, 255, 172, 0.25), rgba(159, 255, 172, 0.25));
}
.stay-tuned .register-button {
    width: 36rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    border: 2px solid #9fffac;
    border-radius: 1rem;
}
.subscribe-button-texthome {
    font-size: 30px;
    font-weight: 500;
}
.carousel-controls {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    margin-top: 3rem;
}
.carousel-control,
.carousel-control-next,
.carousel-control-prev {
    width: 40px;
    height: 40px;
    background-color: #4b7b60;
    border-radius: 50%;
}
.carousel-control {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
}
.carousel-control img {
    width: 20px;
    height: 20px;
}
.carousel-control-next,
.carousel-control-prev {
    display: inline-block;
    line-height: 40px;
    font-size: 24px;
    margin: 0 10px;
}
.carousel-control-next img,
.carousel-control-prev img {
    width: 50%;
    height: auto;
}
@media screen and (max-width: 1779px) {
    .featurebody {
        padding: 3rem 25px 0;
    }
}
@media screen and (max-width: 1510px) {
    .featuretext a {
        font-size: 15px;
    }
    .featurebody {
        padding: 3rem 25px 0;
    }
    .stay-tuned .register-button {
        width: 29rem;
        border-color: #9fffac;
        font-size: 29px;
        font-weight: 600;
    }
}
@media screen and (min-width: 1530px) {
    .logos .logoItem {
        margin-right: 1%;
        margin-bottom: 2%;
        max-width: calc(24% - 6%);
        display: flex;
        align-items: center;
        padding: 8px;
    }
}
@media screen and (max-width: 1024px) {
    .gifheading h2 {
        font-size: 46px;
        font-weight: 600;
        line-height: 73.14px;
    }
    section#enables {
        height: 54rem !important;
        background-color: #01051c;
    }
    .centrescreen {
        margin-top: -50px;
        text-align: center;
        margin-left: 105px;
    }
    .key {
        margin-top: -534px;
        margin-bottom: 35px;
        margin-left: -89px;
    }
    section#why-Apurva {
        height: 130rem !important;
    }
    .coming h2,
    .experience h2,
    .greenexp {
        font-size: 40px;
    }
    .testimonial-item {
        width: 8rem;
        height: 8rem;
    }
    .subscribe-button-texthome {
        font-size: 22px;
    }
    .blackheading,
    .greenhome {
        font-size: 45px;
    }
    #newscreen.flex-row-block {
        height: 25rem !important;
    }
    .subscribe {
        width: 37.5rem;
    }
    .stay-tuned .register-button {
        width: 19rem;
        height: 4rem;
        font-size: 19px;
    }
    .blackheading {
        line-height: 50px;
    }
    .ourcolor {
        width: 230px;
        height: 45px;
    }
    .ourcolor h2 {
        font-size: 26px;
    }
    .value p {
        font-size: 16px;
    }
    .card-what {
        width: 258px;
        height: 200px;
    }
    .what h2 {
        width: 190px;
        height: 99px;
        margin-top: 35px;
        font-size: 35px;
        line-height: 40px;
    }
    .cardtitle {
        font-size: 20px;
    }
    .greenintro,
    .intro-Title h2 {
        font-size: 40px;
        font-weight: 800;
        line-height: 56px;
        letter-spacing: 0;
    }
    .intro-Text {
        width: 650px;
        height: 120px;
    }
}
@media screen and (max-width: 768px) {
    section#enables {
        height: 60rem !important;
        background-color: #01051c;
    }
    .gifheading h2 {
        font-size: 40px;
        font-weight: 600;
        line-height: 73.14px;
    }
    .centrescreen {
        margin-top: -50px;
        text-align: center;
        margin-left: 57px;
    }
    .experience h2,
    .greenexp {
        font-weight: 700;
        text-align: left;
    }
    .key {
        margin-top: -423px;
        margin-bottom: 35px;
        margin-left: -89px;
    }
    section#newscreen {
        height: 175rem !important;
    }
    .featuretext a {
        font-size: 17px;
    }
    .featurebody {
        padding: 3rem 25px 0;
    }
    .close {
        margin-left: 23rem;
    }
    .modal-content {
        width: 461px;
        min-height: 413px;
        border-radius: 20px;
    }
    .circle_comingsoon {
        margin-top: -24rem;
        height: 350px;
        width: 350px;
        background-image: radial-gradient(#9fffac 50%, #9fffac 40%);
        filter: blur(160px);
    }
    .experience h2 {
        font-family: Poppins;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0;
        margin-top: 7rem;
    }
    .coming h2,
    .greenexp {
        font-family: Poppins;
        font-size: 30px;
        line-height: 80px;
        letter-spacing: 0;
    }
    .greenexp {
        color: #9fffac;
    }
    .coming h2 {
        color: #fff;
        font-weight: 600;
        text-align: right;
        margin-top: -6rem;
    }
    .blackheading,
    .greenhome {
        font-size: 40px;
    }
    .card-what {
        width: 190px;
        height: 150px;
    }
    .cardtitle {
        font-size: 15px;
        line-height: 25px;
    }
    .responsibleDesc {
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
    .blackAi,
    .greencontact {
        font-size: 35px;
        line-height: 40px;
    }
    .enables p,
    .responsibleDesc p {
        font-size: 16px;
        line-height: 26px;
    }
}
@media screen and (max-width: 530px) {
    .sub,
    .subscribe-button-text {
        font-weight: 500;
    }
    .featurecarousel {
        display: flex;
        -webkit-overflow-scrolling: touch;
        gap: 10px;
    }
    .featurecards {
        height: 352px;
    }
    .featurehead img {
        width: 6.875rem;
    }
    .featurehead {
        height: 158px;
    }
    .featurebody {
        height: 191px;
    }
    .featuretext a {
        font-size: 13px;
        color: #000;
    }
    .featuredheader h5 {
        font-size: 15px;
    }
    .centrescreen {
        margin-top: 7px;
        text-align: center;
        margin-left: 118px;
    }
    .close {
        margin-left: 13rem;
    }
    .greenintrogreen {
        font-size: 22px;
    }
    .centrescreen h2 {
        font-size: 20px;
        margin-left: -104px;
        margin-top: 22px;
    }
    .greenimg img,
    .key {
        margin-left: -72px;
    }
    .key h2 {
        font-size: 22px;
        margin-left: -43px;
        margin-top: 53px;
        margin-bottom: -166px;
    }
    .key {
        margin-top: -78px;
        margin-bottom: 0;
    }
    .gif img {
        margin-left: -104px;
        width: 250px;
        height: 232px;
    }
    section#newscreen {
        height: 90rem !important;
    }
    .sub {
        width: 160px;
        height: 40px;
        border-radius: 1rem;
        background-color: #9fffac;
        border: 2px solid #9fffac;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        line-height: 1;
        color: #000;
        font-size: 10px;
    }
    .experience h2,
    .greenexp {
        text-align: left;
        font-weight: 700;
    }
    .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 0;
    }
    .modal-content {
        width: 291px;
        min-height: 333px;
        border-radius: 20px;
    }
    .email-textbox {
        width: 335px;
        height: 50px;
        background-color: #efefef;
        border-radius: 20px;
    }
    .feature {
        margin-top: 9rem;
    }
    .experience h2 {
        font-family: Poppins;
        font-size: 30px;
        line-height: 0;
        letter-spacing: 0;
        margin-top: 7rem;
    }
    .coming h2,
    .greenexp {
        font-family: Poppins;
        font-size: 30px;
        line-height: 80px;
        letter-spacing: 0;
    }
    .greenexp {
        color: #9fffac;
    }
    .coming h2 {
        color: #fff;
        font-weight: 600;
        text-align: center;
        margin-top: 4rem;
    }
    .enablesgreen,
    .responsible p {
        font-family: Poppins;
        text-align: left;
    }
    .col-xs-6 {
        width: 49%;
    }
    .green-network-names {
        color: #9fffac;
        font-size: 20px;
        font-family: Poppins;
        font-weight: 700;
        line-height: 75px;
    }
    .cardtitle {
        font-size: 12px;
        line-height: 23px;
    }
    .Our-Values {
        margin-top: 2rem;
    }
    .small-box,
    .value p {
        margin-top: -1rem;
    }
    .ourcolor {
        width: 100%;
        height: auto;
    }
    .ourcolor h2 {
        font-size: 20px;
    }
    .value p {
        font-size: 17px;
        line-height: 30px;
    }
    .whatcard {
        margin-top: -4rem;
    }
    .what-Apurva {
        margin-top: -5rem;
    }
    .why {
        margin-bottom: 5rem;
    }
    .why p {
        line-height: 27px;
        font-size: 14px;
        margin-left: -32px;
    }
    .card-what {
        width: 150px;
        height: 125px;
    }
    section#why-Apurva {
        height: 77rem !important;
        margin-top: 1rem;
    }
    #newscreen.flex-row-block {
        height: 24rem !important;
    }
    .gifheading h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 73.14px;
    }
    .enablesgreen {
        color: #9fffac;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 0;
    }
    section#enables {
        height: 49rem !important;
        background-color: #01051c;
    }
    section#Featured {
        height: 30rem !important;
    }
    .blackheading,
    .greenhome {
        font-size: 19px;
    }
    .responsibleDesc {
        margin-top: 10px;
        margin-bottom: 1rem;
    }
    .readmore a {
        display: flex;
        justify-self: start;
        font-size: 15px;
    }
    .responsible h2 {
        width: 323px;
        height: 65px;
        font-size: 30px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 2px;
    }
    .responsible p {
        font-weight: 300;
        font-size: 1rem;
        line-height: 2rem !important;
        margin-top: 1rem;
        hyphens: auto;
    }
    .greenintro,
    .intro-Title h2 {
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0;
    }
    .intro-Text {
        width: 299px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
    }
    .subscribe {
        align-items: normal;
        overflow: visible;
        width: 16.5rem;
        margin-top: -2rem;
        flex-direction: column;
        height: auto;
    }
    .subscribe-button-texthome {
        margin-left: 10px;
        font-size: 15px;
        font-weight: 500;
    }
    .subscribe input {
        padding-top: 10px;
        border-radius: 1rem;
        margin-bottom: 1.2rem;
    }
    .subscribe-button-text {
        text-align: center;
        font-size: 10px;
        color: #000;
    }
    .subscribe .register-button {
        height: 41px;
        border-radius: 1rem;
    }
    .card {
        width: 100%;
        max-width: 268px;
        height: 260px;
        border-radius: 1.25rem;
        margin: 15px;
    }
    .card-head {
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-head img {
        width: 104px;
        height: 88px;
    }
    .card-body {
        height: 100px;
        background-color: #d9d9d9;
        border-radius: 0 0 1.25rem 1.25rem;
        text-align: center;
    }
    .stay-tuned .register-button {
        width: 15rem;
        height: 35px;
        margin-top: 25px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .email-textbox::placeholder {
        font-size: 10px;
    }
    .des-textbox::placeholder {
        font-size: 10px;
    }
    .subscribe-button {
        font-size: 12px;
    }
    .featurebody {
        padding: 4rem 13px 0;
    }
    .carousel-controls {
        margin-top: 15px;
    }
}
@media screen and (max-width: 414px) {
    section#enables {
        height: 51rem !important;
        background-color: #01051c;
    }
}
@media screen and (max-width: 390px) {
    .greenintrogreen,
    .key h2 {
        font-size: 15px;
    }
    section#enables {
        height: 54rem !important;
        background-color: #01051c;
    }
    .centrescreen h2 {
        font-size: 15px;
        margin-left: -104px;
        margin-top: 49px;
    }
    .key h2 {
        margin-left: -47px;
        line-height: 49.14px;
    }
    .gif img {
        margin-left: -104px;
        width: 298px;
        height: 201px;
    }
    #newscreen.flex-row-block {
        height: 24rem !important;
    }
}
@media screen and (max-width: 386px) {
    .stay-tuned .register-button {
        width: 15rem;
        height: 35px;
        margin-top: 5px;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
    }
    .greenintro,
    .intro-Title h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0;
    }
    .card-what {
        width: 140px;
        height: 125px;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-indent: initial;
        opacity: 1;
    }
    .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        border: 1px;
        margin-top: 0.6rem;
        background-color: #9fffac;
    }
    section#Featured,
    section#testimonialSection {
        background-size: cover;
    }
}
@media screen and (max-width: 360px) {
    section#enables {
        height: 59rem !important;
        background-color: #01051c;
    }
    #eco {
        padding-top: 0;
    }
}
@media (max-width: 467px) {
    #whyenables {
        margin-top: 33px;
    }
    #testimonialSections.flex-row-block {
        height: 7rem !important;
    }
}
@media screen and (min-width: 1536px) {
    section#enables {
        height: 42rem !important;
        background-color: #01051c;
    }
}
@media screen and (max-width: 320px) {
    section#enables {
        height: 66.9rem !important;
        background-color: #01051c;
    }
}
